<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="../static/css/frontend.css">

</head>

  
<body>
    <div class="topnav">
        <a class="active" href="home.html">Home</a>
        <a href="#aboutus">About Us</a>
        <a href="#contactus">Contact Us</a>
        <div class="dropdown">
            <button class="dropbtn">Domains
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="category.html">Frontend</a>
                <a href="category.html">Backend</a>
                <a href="category.html">Connectivity</a>
            </div>
        </div>
        <a href="#about">Progress</a>
      <a href="login.html">Login</a>
      </div>
      <div class="border1">
	    <div class="dashboard">
		<br>
		    <label style="font-size:100px;  background:#95daff; border:2px solid black">P1</label>
		    <p style="margin-top:-100px; margin-left: 180px;"><img style="height:30px;" >Mumbai</p>
		    <p style="margin-left: 180px;"><img style="height:30px;" >18/12/20</p><br>
		    <p>Name:</p>
		    <p>Total number of questions attempted: </p>
		    <p>Total number of questions attempted correctly</p><br><br>
	    </div>
        </div>
        <div class="container">
            <h6>Course 1</h6>
            <h2>HTML</h2>
            

        </div>