<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="CSS/navbar.css">
    <link rel="stylesheet" type="text/css" href="CSS/frontend.css">

</head>

  
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="#aboutus">About Us</a>
        <a href="#contactus">Contact Us</a>
        <div class="dropdown">
            <button class="dropbtn">Domains
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/category">Frontend</a>
                <a href="/categorybackend">Backend</a>
                <a href="/categoryconn">Connectivity</a>
            </div>
        </div>
        <a href="/progress">Progress</a>
      <a href="/login">Login</a>
      </div>
     
        <div class="container">
            <h2 id="ht">Basics of HTML</h2>
       
       
        <p style="text-align: center; font-size: 25px; margin-top: -20px;">
            A standup markup language for Web Pages
HTML - HyperText Markup Language
</p>
<p id="tags" >Basic html tags:</p>
<img src="Images/frontend.png" id="form"style="width: 900px; margin-left: 170px; border: 2px solid black;">
</div>
<br><br>


  <p id="formhead" >Forms and Input Tags</p>
  <img src="Images/form.png" id="form"style="width: 900px; margin-left: 200px; border: 2px solid black;">
  <img src="Images/form2.png" id="form2" style="width: 900px; margin-left: 200px; border: 2px solid black; margin-top: -7px;">
</div>
<br>

<p id="links">Links</p>
<img src="Images/links.png" id="link"style="width: 900px; margin-left: 200px; border: 2px solid black;">
<p id="list">Lists</p>
<img src="Images/list.png" id="list"style="width: 900px; margin-left: 200px; border: 2px solid black;">
<p id="list">Tables</p>
<img src="Images/tables.png" id="list"style="width: 900px; margin-left: 200px; border: 2px solid black;  margin-bottom: 60px;">
<br>
<p id="othert">Other important HTML tags</p>
<p id="heading">The  <img src="Images/imagetag.png" alt="h2" style="height: 16px; width: 50px; ">tag is used to embed an image in an HTML page.</p>
<p id="heading1">The  <img src="Images/styl.png" alt="h2" style="height: 14px; width: 60px; ">tag is used to define style information (CSS) for a document.</p>
<p id="heading2">The <img src="Images/script.png" alt="h2" style="height: 14px; width: 60px; ">tag is used to embed a client-side script (JavaScript).</p>
<p id="heading3">The <img src="Images/div.png" alt="h2" style="height: 14px; width: 40px; ">tag defines a division or a section in an HTML document.</p>
<p id="heading4">The <img src="Images/span.png" alt="h2" style="height: 14px; width: 60px; ">tag is an inline container used to mark up a part of a text, or a part of a document.</p>
<p id="heading5">The <img src="Images/header.png" alt="h2" style="height: 14px; width: 80px; ">element represents a container for introductory content or a set of navigational links.</p>
<p id="heading6">The <img src="Images/footer.png" alt="h2" style="height: 14px; width: 80px; ">tag defines a footer for a document or section.</p>
<p id="heading7">The <img src="Images/section.png" alt="h2" style="height: 14px; width: 80px; ">tag defines a section in a document.</p>
</body>
</html>